@import "tailwindcss";

@layer base{

    body{
        font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
        background-color: #0f0f0f;
        color: #f1f1f1;
    }
}

@layer utilities{
    
    /* layout */
    .layout{
        display: grid;
        grid-template-areas: "nav" "main" "sidebar";
    }

    .nav{
        grid-area: nav;
    }

    .main{
        grid-area: main;
    }

    .sidebar{
        grid-area: sidebar;
        background-color: #0f0f0f;
        position: fixed;
        width: 100%;
        bottom: 0;
    }

@media screen and (min-width: 768px) {
    
    .layout{
        grid-template-columns: auto 1fr;
        grid-template-areas: "nav nav" "sidebar main" ;
    }
    .sidebar{
        display: block;
        position: relative;
    }

}

/* side-bar logos */


.sidebar-logo{
    @apply w-5 h-5 md:w-7 md:h-7 
}

.sidebar-menu-heading{
    @apply text-[1rem] font-semibold py-2 px-3  my-2 rounded-lg cursor-pointer
}

.sidebar-menu-item{
    @apply text-sm py-2 px-3 rounded-lg  cursor-pointer 
}

/* hover effect */
.hover-eff{
    @apply hover:bg-neutral-700 cursor-pointer
}

.sidebar-collapased-item{
    @apply flex flex-col items-center justify-center text-[8px] md:text-[10px] px-3 py-2 rounded-lg
}

/* scrollbar */

/* Hide scrollbar but keep scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

}