@import "tailwindcss";

@layer base{

    body{
        font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
        background-color: #0f0f0f;
        color: #f1f1f1;
    }
}

@layer utilities{
/* side-bar*/
.sidebar-logo{
    @apply w-5 h-5 md:w-7 md:h-7 
}

.sidebar-menu-heading{
    @apply text-[1rem] font-semibold py-2 px-3  my-2 rounded-lg cursor-pointer
}

.sidebar-menu-item{
    @apply text-sm py-2 px-3 rounded-lg  cursor-pointer 
}

/* hover effect */
.hover-eff{
    @apply hover:bg-neutral-700 cursor-pointer
}

.sidebar-collapased-item{
    @apply flex flex-col items-center justify-center text-[8px] md:text-[10px] px-3 py-2 rounded-lg
}

/* scrollbar */

/* Hide scrollbar but keep scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

/* buttons */
.black-btn{
   @apply w-full py-3 rounded-full bg-black text-white font-semibold hover:bg-gray-900 transition cursor-pointer
}

.white-btn{
    @apply bg-white text-black w-full py-3 text-center rounded-full border border-gray-300 font-medium hover:bg-gray-50 transition cursor-pointer
}

/* loading bar */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes expand-bar {
    0% {
      width: 0%;
    }
    100% {
      width: 90%;
    }
  }

  .animate-expand-bar {
    animation: expand-bar 1.2s ease-out forwards;
  }
}



}