@import "tailwindcss";

@layer base{

    body{
        font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
        background-color: #0f0f0f;
        color: #f1f1f1;
    }
}

@layer utilities{
    
    /* layout */
    .layout{
        display: grid;
        grid-template-areas: "nav" "main" "sidebar";
    }

    .nav{
        grid-area: nav;
    }

    .main{
        grid-area: main;
    }

    .sidebar{
        grid-area: sidebar;
        background-color: #0f0f0f;
        position: fixed;
        width: 100%;
        bottom: 0;
    }

@media screen and (min-width: 768px) {
    
    .layout{
        grid-template-columns: auto 1fr;
        grid-template-areas: "nav nav" "sidebar main" ;
    }
    .sidebar{
        display: block;
        position: relative;
    }

}

/* side-bar logos */
.logo-container{
   @apply flex flex-col items-center justify-center text-[8px] md:text-[10px]
}

.sidebar-logo{
    @apply w-5 h-5 md:w-8 md:h-8 
}


}