@import "tailwindcss";

@layer base{

    body{
        font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
        background-color: #0f0f0f;
        color: #f1f1f1;
    }
}

@layer utilities{
    
    /* layout */
    .layout{
        display: grid;
        grid-template-areas: "nav" "main" "sidebar";
    }

    .nav{
        grid-area: nav;
    }

    .main{
        grid-area: main;
    }

    .sidebar{
        grid-area: sidebar;
    }

@media screen and (min-width: 768px) {
    
    .layout{
        grid-template-columns: auto 1fr;
        grid-template-areas: "nav nav" "sidebar main" ;
    }
    .sidebar{
        display: block;
    }

}

}